<p class="govuk-body">
  Show both EAP/TLS and MS-CHAPv2 authentication attempts in the logs. This is for organisations using Certificate Based Authentication (CBA)
</p>
<p class="govuk-body">
  This organisation <%= organisation.cba_enabled? ? "can" : "cannot" %> see the CBA logs.
</p>

<%= form_with(model: organisation, url: toggle_cba_feature_super_admin_organisation_path(organisation), method: :patch) do |form| %>
  <%= form.hidden_field :cba_enabled, value: !organisation.cba_enabled %>
  <%= form.govuk_submit(organisation.cba_enabled ? "Disable CBA" : "Enable CBA", secondary: organisation.cba_enabled?) %>
<% end %>
