<% if locations.any? %>
  <%= govuk_table do |table|
    table.with_body do |body|
      locations.each do |location|
        body.with_row do |row|
          row.with_cell(text: location.address)
          row.with_cell(text: location.postcode)
          row.with_cell(text: govuk_link_to("Set secret key", edit_super_admin_location_path(location.id)),
                        classes: %w[text-right],
                        numeric: true)
        end
      end
    end
  end %>
<% else %>
  <p class="govuk-body">This organisation has no locations.</p>
<% end %>
