<% if team.any? %>
  <%= govuk_table do |table|
    table.with_head do |head|
      head.with_row do |row|
        row.with_cell(text: sort_link("name", "Username"))
        row.with_cell(text: sort_link("last_sign_in_at", "Last login"))
        row.with_cell(text: sort_link("sign_in_count", "Logins"), numeric: true)
        row.with_cell(text: sort_link("email", "Email"))
      end
    end
    table.with_body do |body|
      team.each do |user|
        body.with_row do |row|
          row.with_cell(text: user.name)
          row.with_cell(text: (user.current_sign_in_at&.strftime("%-d %b %Y") || ""))
          row.with_cell(text: user.sign_in_count, numeric: true)
          row.with_cell(text: user.email)
        end
      end
    end
  end %>
<% else %>
  <p class="govuk-body">This organisation has no team members.</p>
<% end %>
