<% @member_groups.each do |group| %>
  <% title = capture do %>
    <%= group[:heading] %><span class="govuk-hint">(<%= group[:users].count %>)</span>
  <% end %>
  <%= govuk_summary_card(title:) do |card| %>
    <%= govuk_summary_list do |summary_list|
      group[:users].each do |user|
        summary_list.with_row do |row|
          row.with_key { user.name || "" }
          row.with_value { user.email }
          row.with_action(text: "Change", href: '#', visually_hidden_text: 'name')
        end
      end
    end %>
  <% end %>
<% end %>
