<%= govuk_header(
  homepage_url: SITE_CONFIG["product_page_link"],
  # container_classes: ("govuk-header__container--yellow" unless Deploy.production?),
  navigation_classes: "govuk-header__navigation--end"
) do |header| %>

  <% header.with_product_name do %>
    <span class="app-product-name">
      GovWifi
      <% unless Deploy.production? %>
        <strong class="govuk-tag govuk-tag--yellow govuk-phase-banner__content__tag">
          <%= Deploy.env %>
        </strong>
      <% end %>
    </span>
  <% end %>

  <% if user_signed_in? %>
    <% header.with_navigation_item(
      text: "Support",
      href: signed_in_new_help_path
    ) %>

    <% header.with_navigation_item(
      text: "Sign out",
      href: destroy_user_session_path,
      options: { method: :delete }
    ) %>
  <% end %>
<% end %>
