<div class="result-row">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1" id="<%= location.id %>">
    <%= location.full_address %>
  </h2>
  <%= render partial: "shared/ip_controls", locals: {location: } if show_ip_controls %>
  <%= govuk_summary_list(rows: ip_data(location, show_ip_controls)) %>
</div>
