<% flash.each do |name, msg| -%>
  <% next if name == "timedout" %>
  <% next if msg.empty? %>

  <% if name == 'notice' %>
    <div class='flash-holder'>
      <%= tag.p(msg, class: "govuk-heading-m flash-message-notice") %>
    </div>
  <% end %>
  <% if name == 'alert' %>
    <%= error_summary(list: [msg]) %>
  <% end %>
<% end %>
