<% flash.each do |name, msg| -%>
  <% next if name == "timedout" %>
  <% next if msg.empty? %>

  <% if name == 'notice' %>
    <div class='flash-holder'>
      <%= tag.p(msg, class: "govuk-heading-m flash-message-notice") %>
    </div>
  <% end %>
  <% if name == 'alert' %>
    <div class="govuk-error-summary" role="alert">
      <h2 class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <%= msg %>
          </li>
        </ul>
      </div>
    </div>
    <meta name="hmrc-timeout-dialog" content="hmrc-timeout-dialog" data-language="en" data-timeout="90" data-countdown="60" data-keep-alive-url="?continue=true" data-sign-out-url="?lang=English" data-timeout-url="" data-title="" data-message="" data-message-suffix="" data-keep-alive-button-text="" data-sign-out-button-text="" data-synchronise-tabs="" data-hide-sign-out-button="" />
  <% end %>
<% end %>
